<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.dao.XxfDao" >
<select id="getTreeAll" resultType="tree">
    select * from t_tree
</select>
    <select id="queryResumeCount" resultType="int">
        select count(*) from zwjl a,gsyh b where a.gsid=b.id
    </select>
    <select id="queryZwjl" resultType="Zwjl">
        select * from zwjl a,gsyh b,gryh c where a.gsid=b.id and b.id=c.gsyhid and c.gsyhid=#{id} limit #{start},#{end}
    </select>
    <select id="queryleib" resultType="leib">
        select * from leib
    </select>


    <insert id="addgsZwjl" useGeneratedKeys="true" keyProperty="id">
        insert into
          zwjl(zhiw,leib,diq,rensh,jiesh,zhuany,xuel,jingy,sex,minage,maxage,lianxr,lianxtel,fdate,start,hot,gsid,minsalary,maxsalary)
          values(#{zhiw},#{leib},#{diq},#{rensh},#{jiesh},#{zhuany},#{xuel},#{jingy},#{sex},#{minage},#{maxage},#{lianxr},#{lianxtel},now(),1,0,gsid,#{minsalary},#{maxsalary})
    </insert>


    <delete id="deleteResume" parameterType="String">
        delete from jianli where id in
        <foreach collection="array" index="index" item="ids" open="(" separator="," close=")">
            #{ids}
        </foreach>
    </delete>
    <select id="findZwjlById" resultType="zwjl">
        select * from zwjl where id=#{id}
    </select>
    <update id="updateZwjl">
        update zwjl set zhiw=#{zhiw},leib=#{leib},diq=#{diq},rensh=#{rensh},jiesh=#{jiesh},zhuany=#{zhuany},xuel=#{xuel},jingy=#{xuel},sex=#{sex},minage=#{minage},maxage=#{maxage},lianxr=#{lianxr},lianxtel=#{lianxtel},1,minsalary=#{minsalary},maxsalary=#{maxsalary}
                    where id=#{id}
    </update>

    <!--查询公司 -->
    <select id="querygsbyid" resultType="gsyh">
        select * from gsyh where id=#{gsid}
    </select>
</mapper>