<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.dao.GsyhMapper" >
  <resultMap id="BaseResultMap" type="com.jk.model.Gsyh" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="zhucsj" property="zhucsj" jdbcType="DATE" />
    <result column="gongsmc" property="gongsmc" jdbcType="VARCHAR" />
    <result column="yuangrs" property="yuangrs" jdbcType="VARCHAR" />
    <result column="diq" property="diq" jdbcType="VARCHAR" />
    <result column="gongsxz" property="gongsxz" jdbcType="VARCHAR" />
    <result column="chenglrq" property="chenglrq" jdbcType="DATE" />
    <result column="zhuczj" property="zhuczj" jdbcType="VARCHAR" />
    <result column="gongsjj" property="gongsjj" jdbcType="VARCHAR" />
    <result column="lianxr" property="lianxr" jdbcType="VARCHAR" />
    <result column="lianxtel" property="lianxtel" jdbcType="VARCHAR" />
    <result column="adress" property="adress" jdbcType="VARCHAR" />
    <result column="qq" property="qq" jdbcType="VARCHAR" />
    <result column="web" property="web" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, email, zhucsj, gongsmc, yuangrs, diq, gongsxz, chenglrq, zhuczj, gongsjj, lianxr,
    lianxtel, adress, qq, web, state
  </sql>



  <select id="queryGsyh" resultMap="BaseResultMap">
    select * from gsyh where state=1
      limit #{sta},#{rows}
  </select>


  <select id="queryGsCount" resultType="long">
    select count(*) from gsyh where state=1
  </select>



  <update id="updateGsYes">
    update gsyh set state=2 where id=#{id}
  </update>


  <delete id="deleteGsNo">
    delete from gsyh where id=#{id}
  </delete>











  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from gsyh
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from gsyh
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jk.model.Gsyh" >
    insert into gsyh (id, email, zhucsj, 
      gongsmc, yuangrs, diq, 
      gongsxz, chenglrq, zhuczj, 
      gongsjj, lianxr, lianxtel, 
      adress, qq, web)
    values (#{id,jdbcType=INTEGER}, #{email,jdbcType=VARCHAR}, #{zhucsj,jdbcType=DATE}, 
      #{gongsmc,jdbcType=VARCHAR}, #{yuangrs,jdbcType=VARCHAR}, #{diq,jdbcType=VARCHAR}, 
      #{gongsxz,jdbcType=VARCHAR}, #{chenglrq,jdbcType=DATE}, #{zhuczj,jdbcType=VARCHAR}, 
      #{gongsjj,jdbcType=VARCHAR}, #{lianxr,jdbcType=VARCHAR}, #{lianxtel,jdbcType=VARCHAR}, 
      #{adress,jdbcType=VARCHAR}, #{qq,jdbcType=VARCHAR}, #{web,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jk.model.Gsyh" >
    insert into gsyh
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="zhucsj != null" >
        zhucsj,
      </if>
      <if test="gongsmc != null" >
        gongsmc,
      </if>
      <if test="yuangrs != null" >
        yuangrs,
      </if>
      <if test="diq != null" >
        diq,
      </if>
      <if test="gongsxz != null" >
        gongsxz,
      </if>
      <if test="chenglrq != null" >
        chenglrq,
      </if>
      <if test="zhuczj != null" >
        zhuczj,
      </if>
      <if test="gongsjj != null" >
        gongsjj,
      </if>
      <if test="lianxr != null" >
        lianxr,
      </if>
      <if test="lianxtel != null" >
        lianxtel,
      </if>
      <if test="adress != null" >
        adress,
      </if>
      <if test="qq != null" >
        qq,
      </if>
      <if test="web != null" >
        web,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="zhucsj != null" >
        #{zhucsj,jdbcType=DATE},
      </if>
      <if test="gongsmc != null" >
        #{gongsmc,jdbcType=VARCHAR},
      </if>
      <if test="yuangrs != null" >
        #{yuangrs,jdbcType=VARCHAR},
      </if>
      <if test="diq != null" >
        #{diq,jdbcType=VARCHAR},
      </if>
      <if test="gongsxz != null" >
        #{gongsxz,jdbcType=VARCHAR},
      </if>
      <if test="chenglrq != null" >
        #{chenglrq,jdbcType=DATE},
      </if>
      <if test="zhuczj != null" >
        #{zhuczj,jdbcType=VARCHAR},
      </if>
      <if test="gongsjj != null" >
        #{gongsjj,jdbcType=VARCHAR},
      </if>
      <if test="lianxr != null" >
        #{lianxr,jdbcType=VARCHAR},
      </if>
      <if test="lianxtel != null" >
        #{lianxtel,jdbcType=VARCHAR},
      </if>
      <if test="adress != null" >
        #{adress,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="web != null" >
        #{web,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jk.model.Gsyh" >
    update gsyh
    <set >
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="zhucsj != null" >
        zhucsj = #{zhucsj,jdbcType=DATE},
      </if>
      <if test="gongsmc != null" >
        gongsmc = #{gongsmc,jdbcType=VARCHAR},
      </if>
      <if test="yuangrs != null" >
        yuangrs = #{yuangrs,jdbcType=VARCHAR},
      </if>
      <if test="diq != null" >
        diq = #{diq,jdbcType=VARCHAR},
      </if>
      <if test="gongsxz != null" >
        gongsxz = #{gongsxz,jdbcType=VARCHAR},
      </if>
      <if test="chenglrq != null" >
        chenglrq = #{chenglrq,jdbcType=DATE},
      </if>
      <if test="zhuczj != null" >
        zhuczj = #{zhuczj,jdbcType=VARCHAR},
      </if>
      <if test="gongsjj != null" >
        gongsjj = #{gongsjj,jdbcType=VARCHAR},
      </if>
      <if test="lianxr != null" >
        lianxr = #{lianxr,jdbcType=VARCHAR},
      </if>
      <if test="lianxtel != null" >
        lianxtel = #{lianxtel,jdbcType=VARCHAR},
      </if>
      <if test="adress != null" >
        adress = #{adress,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        qq = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="web != null" >
        web = #{web,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jk.model.Gsyh" >
    update gsyh
    set email = #{email,jdbcType=VARCHAR},
      zhucsj = #{zhucsj,jdbcType=DATE},
      gongsmc = #{gongsmc,jdbcType=VARCHAR},
      yuangrs = #{yuangrs,jdbcType=VARCHAR},
      diq = #{diq,jdbcType=VARCHAR},
      gongsxz = #{gongsxz,jdbcType=VARCHAR},
      chenglrq = #{chenglrq,jdbcType=DATE},
      zhuczj = #{zhuczj,jdbcType=VARCHAR},
      gongsjj = #{gongsjj,jdbcType=VARCHAR},
      lianxr = #{lianxr,jdbcType=VARCHAR},
      lianxtel = #{lianxtel,jdbcType=VARCHAR},
      adress = #{adress,jdbcType=VARCHAR},
      qq = #{qq,jdbcType=VARCHAR},
      web = #{web,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>