<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.dao.ZwjlMapper" >
  <resultMap id="BaseResultMap" type="com.jk.model.Zwjl" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="zhiw" property="zhiw" jdbcType="VARCHAR" />
    <result column="leib" property="leib" jdbcType="INTEGER" />
    <result column="diq" property="diq" jdbcType="VARCHAR" />
    <result column="rensh" property="rensh" jdbcType="INTEGER" />
    <result column="yex" property="yex" jdbcType="VARCHAR" />
    <result column="jiesh" property="jiesh" jdbcType="VARCHAR" />
    <result column="zhuany" property="zhuany" jdbcType="VARCHAR" />
    <result column="xuel" property="xuel" jdbcType="VARCHAR" />
    <result column="jingy" property="jingy" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="minage" property="minage" jdbcType="INTEGER" />
    <result column="maxage" property="maxage" jdbcType="INTEGER" />
    <result column="lianxr" property="lianxr" jdbcType="VARCHAR" />
    <result column="lianxtel" property="lianxtel" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="fdate" property="fdate" jdbcType="DATE" />
    <result column="start" property="start" jdbcType="INTEGER" />
    <result column="hot" property="hot" jdbcType="INTEGER" />
    <result column="gsid" property="gsid" jdbcType="INTEGER" />
    <result column="minsalary" property="minsalary" jdbcType="INTEGER" />
    <result column="maxsalary" property="maxsalary" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, zhiw, leib, diq, rensh, yex, jiesh, zhuany, xuel, jingy, sex, minage, maxage, 
    lianxr, lianxtel, email, fdate, start, hot, gsid, minsalary, maxsalary
  </sql>



  <select id="queryZhiwei" resultMap="BaseResultMap">
    select * from zwjl where start=1
      limit #{sta},#{rows}
  </select>


  <select id="queryCount" resultType="long">
    select count(*) from zwjl where start=1
  </select>


  <update id="updateZhiweiYes">
    update zwjl set start=2 where id=#{id}
  </update>

  <update id="updateZhiweiNo">
    update zwjl set start=3 where id=#{id}
  </update>


  <delete id="deleteZhiweiNo">
    delete from zwjl where id=#{id}
  </delete>










  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from zwjl
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from zwjl
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jk.model.Zwjl" >
    insert into zwjl (id, zhiw, leib, 
      diq, rensh, yex, jiesh, 
      zhuany, xuel, jingy, 
      sex, minage, maxage, 
      lianxr, lianxtel, email, 
      fdate, start, hot, gsid, 
      minsalary, maxsalary)
    values (#{id,jdbcType=INTEGER}, #{zhiw,jdbcType=VARCHAR}, #{leib,jdbcType=INTEGER}, 
      #{diq,jdbcType=VARCHAR}, #{rensh,jdbcType=INTEGER}, #{yex,jdbcType=VARCHAR}, #{jiesh,jdbcType=VARCHAR}, 
      #{zhuany,jdbcType=VARCHAR}, #{xuel,jdbcType=VARCHAR}, #{jingy,jdbcType=VARCHAR}, 
      #{sex,jdbcType=INTEGER}, #{minage,jdbcType=INTEGER}, #{maxage,jdbcType=INTEGER}, 
      #{lianxr,jdbcType=VARCHAR}, #{lianxtel,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{fdate,jdbcType=DATE}, #{start,jdbcType=INTEGER}, #{hot,jdbcType=INTEGER}, #{gsid,jdbcType=INTEGER}, 
      #{minsalary,jdbcType=INTEGER}, #{maxsalary,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.jk.model.Zwjl" >
    insert into zwjl
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="zhiw != null" >
        zhiw,
      </if>
      <if test="leib != null" >
        leib,
      </if>
      <if test="diq != null" >
        diq,
      </if>
      <if test="rensh != null" >
        rensh,
      </if>
      <if test="yex != null" >
        yex,
      </if>
      <if test="jiesh != null" >
        jiesh,
      </if>
      <if test="zhuany != null" >
        zhuany,
      </if>
      <if test="xuel != null" >
        xuel,
      </if>
      <if test="jingy != null" >
        jingy,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="minage != null" >
        minage,
      </if>
      <if test="maxage != null" >
        maxage,
      </if>
      <if test="lianxr != null" >
        lianxr,
      </if>
      <if test="lianxtel != null" >
        lianxtel,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="fdate != null" >
        fdate,
      </if>
      <if test="start != null" >
        start,
      </if>
      <if test="hot != null" >
        hot,
      </if>
      <if test="gsid != null" >
        gsid,
      </if>
      <if test="minsalary != null" >
        minsalary,
      </if>
      <if test="maxsalary != null" >
        maxsalary,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="zhiw != null" >
        #{zhiw,jdbcType=VARCHAR},
      </if>
      <if test="leib != null" >
        #{leib,jdbcType=INTEGER},
      </if>
      <if test="diq != null" >
        #{diq,jdbcType=VARCHAR},
      </if>
      <if test="rensh != null" >
        #{rensh,jdbcType=INTEGER},
      </if>
      <if test="yex != null" >
        #{yex,jdbcType=VARCHAR},
      </if>
      <if test="jiesh != null" >
        #{jiesh,jdbcType=VARCHAR},
      </if>
      <if test="zhuany != null" >
        #{zhuany,jdbcType=VARCHAR},
      </if>
      <if test="xuel != null" >
        #{xuel,jdbcType=VARCHAR},
      </if>
      <if test="jingy != null" >
        #{jingy,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="minage != null" >
        #{minage,jdbcType=INTEGER},
      </if>
      <if test="maxage != null" >
        #{maxage,jdbcType=INTEGER},
      </if>
      <if test="lianxr != null" >
        #{lianxr,jdbcType=VARCHAR},
      </if>
      <if test="lianxtel != null" >
        #{lianxtel,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="fdate != null" >
        #{fdate,jdbcType=DATE},
      </if>
      <if test="start != null" >
        #{start,jdbcType=INTEGER},
      </if>
      <if test="hot != null" >
        #{hot,jdbcType=INTEGER},
      </if>
      <if test="gsid != null" >
        #{gsid,jdbcType=INTEGER},
      </if>
      <if test="minsalary != null" >
        #{minsalary,jdbcType=INTEGER},
      </if>
      <if test="maxsalary != null" >
        #{maxsalary,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jk.model.Zwjl" >
    update zwjl
    <set >
      <if test="zhiw != null" >
        zhiw = #{zhiw,jdbcType=VARCHAR},
      </if>
      <if test="leib != null" >
        leib = #{leib,jdbcType=INTEGER},
      </if>
      <if test="diq != null" >
        diq = #{diq,jdbcType=VARCHAR},
      </if>
      <if test="rensh != null" >
        rensh = #{rensh,jdbcType=INTEGER},
      </if>
      <if test="yex != null" >
        yex = #{yex,jdbcType=VARCHAR},
      </if>
      <if test="jiesh != null" >
        jiesh = #{jiesh,jdbcType=VARCHAR},
      </if>
      <if test="zhuany != null" >
        zhuany = #{zhuany,jdbcType=VARCHAR},
      </if>
      <if test="xuel != null" >
        xuel = #{xuel,jdbcType=VARCHAR},
      </if>
      <if test="jingy != null" >
        jingy = #{jingy,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="minage != null" >
        minage = #{minage,jdbcType=INTEGER},
      </if>
      <if test="maxage != null" >
        maxage = #{maxage,jdbcType=INTEGER},
      </if>
      <if test="lianxr != null" >
        lianxr = #{lianxr,jdbcType=VARCHAR},
      </if>
      <if test="lianxtel != null" >
        lianxtel = #{lianxtel,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="fdate != null" >
        fdate = #{fdate,jdbcType=DATE},
      </if>
      <if test="start != null" >
        start = #{start,jdbcType=INTEGER},
      </if>
      <if test="hot != null" >
        hot = #{hot,jdbcType=INTEGER},
      </if>
      <if test="gsid != null" >
        gsid = #{gsid,jdbcType=INTEGER},
      </if>
      <if test="minsalary != null" >
        minsalary = #{minsalary,jdbcType=INTEGER},
      </if>
      <if test="maxsalary != null" >
        maxsalary = #{maxsalary,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jk.model.Zwjl" >
    update zwjl
    set zhiw = #{zhiw,jdbcType=VARCHAR},
      leib = #{leib,jdbcType=INTEGER},
      diq = #{diq,jdbcType=VARCHAR},
      rensh = #{rensh,jdbcType=INTEGER},
      yex = #{yex,jdbcType=VARCHAR},
      jiesh = #{jiesh,jdbcType=VARCHAR},
      zhuany = #{zhuany,jdbcType=VARCHAR},
      xuel = #{xuel,jdbcType=VARCHAR},
      jingy = #{jingy,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      minage = #{minage,jdbcType=INTEGER},
      maxage = #{maxage,jdbcType=INTEGER},
      lianxr = #{lianxr,jdbcType=VARCHAR},
      lianxtel = #{lianxtel,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      fdate = #{fdate,jdbcType=DATE},
      start = #{start,jdbcType=INTEGER},
      hot = #{hot,jdbcType=INTEGER},
      gsid = #{gsid,jdbcType=INTEGER},
      minsalary = #{minsalary,jdbcType=INTEGER},
      maxsalary = #{maxsalary,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>