<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.dao.LmhDao" >

    <update id="updateJianLi">
        update jianli set zhiding=0 where id=1;
    </update>

    <select id="queryJianL" parameterType="int" resultType="com.jk.model.JianLi">
        select
        a.id,a.name,a.sex,a.birthday,a.minz,
        a.huny,a.zhengzh,a.xuex,a.zhuany,a.xuel,
        a.gongzjy,a.xianjd,a.jig,a.gangw,a.gangwlb,
        a.gongzdq,a.yuexyq,a.qiuzhzht,a.jishtch,
        a.gongzjl,a.gerjs,a.tel,a.email

          from jianli a where gid=#{value}
    </select>
</mapper>