<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 引入jquery -->
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <!-- 引入bootstrap的css -->
    <link  href="../js/bootstrap/css/bootstrap.min.css" rel="stylesheet" >
    <!-- 引入bootstrap-treeview的css -->
    <link  href="../js/treeview/bootstrap-treeview.min.css" rel="stylesheet" >
    <!-- 引入bootstrap-addTabs的css -->
    <link  href="../js/addTabs/addTabs.css" rel="stylesheet" >
    <!-- 引入bootstrap-table的css -->
    <link  href="../js/table/bootstrap-table.min.css" rel="stylesheet" >
    <!-- 引入fileinput的css -->
    <link type="text/css" rel="stylesheet" href="../js/fileinput/css/fileinput.min.css" />

    <!-- 引入my97 -->
    <script type="text/javascript" src="../js/my97/WdatePicker.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="../js/bootstrap/js/bootstrap.min.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="../js/treeview/bootstrap-treeview.min.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="../js/addTabs/addTabs.js"></script>
    <!-- 引入bootstrap-table的js-->
    <script type="text/javascript" src="../js/table/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="../js/table/locale/bootstrap-table-zh-CN.min.js"></script>
    <!-- 引入bootbox.js -->
    <script type="text/javascript" src="../js/bootbox/bootbox.js"></script>
    <!-- 引入fileinput的js -->
    <script type="text/javascript" src="../js/fileinput/js/fileinput.min.js"></script>
    <!--  引入fileinput的js -->
    <script type="text/javascript" src="../js/fileinput/js/locales/zh.js"></script>
    <script type="text/javascript" src="../js/fileinput/themes/fa/theme.js"></script>
</head>
<body>
<form id="pro_from" class="form-inline">
    <div class="form-group">
        <label>书籍名称</label>
        <br>
        <input type="text" class="form-control" name = "name" id="name" placeholder="书籍名称">
    </div>
    <br>
    <button type="button" class="btn btn-success" onclick="queryData()">搜索</button>
</form>
<button type="button" class="btn btn-Warning btn-lg" onclick="addBook()">新增</button>
<button type="button"  class="btn btn-info btn-lg" onclick="deleteBook()">批量删除</button>
<table id="dataGrid"></table>
</body>
<script>
    function queryData(){
        $("#dataGrid").bootstrapTable("refresh", {
            "query": {
                "name": $("#name").val()
            }
        });
    }
    $(function () {
        //加载数据
        initDataGrid();
    })
    function initDataGrid() {
        //创建bootstrapTable
        $("#dataGrid").bootstrapTable({
            url: "../shenhe/queryYuangongJianli",
            method: 'get',
            striped: true,  	// 斑马线效果     默认false
            //只允许选中一行
            singleSelect: false,
            //选中行是不选中复选框或者单选按钮
            clickToSelect: true,
            showToggle: true,                    //是否显示详细视图和列表视图的切换按钮
            cardView: false,                    //是否显示详细视图
            uniqueId: "id",                 //每一行的唯一标识，一般为主键列
            showColumns: true,                  //是否显示所有的列
            showRefresh: true,                  //是否显示刷新按钮
            minimumCountColumns: 2,     //  最少留两列
            detailView: false,                  //是否显示父子表
            toolbar: '#tabToolBar',   //  工具定义位置
            sidePagination: 'server',
            toolbar: '#toolbar',
            pagination: true, //是否展示分页
            pageList: [2, 4, 8, 10],//分页组件
            pageNumber: 1,
            pageSize: 2,//默认每页条数
            //启动回车键做搜索功能
            searchOnEnterKey: true,
            //设置为false 将禁止所有列的排序。
            sortable: true,
            //设置默认排序为 name
            sortName: 'id',
            //定义排序方式，'asc' 或者 'desc'。
            sortOrder: "desc",
            //设置为undefined可以获取pageNumber，pageSize，searchText，sortName，sortOrder
            // 设置为limit可以获取limit, offset, search, sort, order  queryParamsType:'undefined',
            queryParamsType: 'undefined',
            // 请求服务器数据
            queryParams: function queryParams(params) {
                var param = {
                    page: params.pageNumber,
                    rows: params.pageSize

                };
                return param;
            },
            columns: [
                {field: 'checkbox', checkbox: true},  //开启复选框
                {field: 'id', title: 'id', width: 300},      //  列    field   代表是 后台  传过来的值
                {field: 'name', title: '名字', width: 300},
                {field: 'sex', title: '性别', width: 300,

                    formatter:function(value,row,index){
                        if(value==1){
                            return "男";
                        }
                        if(value==2){
                            return "女";
                        }
                    }

                },
                {field: 'birthday', title: '出生日期', width: 300},
                {field: 'minz', title: '民族', width: 300},
                {field: 'huny', title: '婚姻状况', width: 300},
                {field: 'zhengzh', title: '政治面貌', width: 300},
                {field: 'xuex', title: '所学专业', width: 300},
                {field: 'zhuany', title: '毕业学校', width: 300},
                {field: 'xuel', title: '最高学历', width: 300},
                {field: 'gongzjy', title: '工作经验', width: 300},
                {field: 'xianjd', title: '现居地', width: 300},
                {field: 'jig', title: '籍贯', width: 300},
                {field: 'gangw', title: '求职岗位', width: 300},
                {field: 'gangwlb', title: '岗位类别', width: 300},
                {field: 'gongzdq', title: '工作地区', width: 300},
                {field: 'yuexyq', title: '月薪要求', width: 300},
                {field: 'qiuzhzht', title: '求职状态', width: 300},
                {field: 'jishtch', title: '技术特长', width: 300},
                {field: 'gongzjl', title: '工作经历', width: 300},
                {field: 'gerjs', title: '个人介绍', width: 300},
                {field: 'tel', title: '手机号', width: 300},
                {field: 'email', title: '邮箱', width: 300},
                {field: 'state', title: '审核状态', width: 300,

                    formatter:function(value,row,index){
                        if(value==1){
                            return "待审核";
                        }
                        if(value==2){
                            return "审核通过";
                        }
                    }

                },
                {field: 'zhiding', title: '置顶', width: 300},

                {field: 'tian', title: 'tian', width: 300},


                {field: 'jine', title: 'jine', width: 300},

                {field: 'gid', title: 'gid', width: 300},

                {field:'cc',title:'审核',width:100,formatter:function(value,row,index){
                        if(row.state==1){
                            a= "<a href='javascript:updateYes("+row.id+")'>同意</a>"
                            a+="   <a href='javascript:deleteNo("+row.id+")'>拒绝</a> "
                            return a;
                        }

                    }}

            ]
        });
    }


    function updateYes(id){

        $.ajax({
            url: "../shenhe/updateZhiweiYes",
            data: {id: id},
            type: "post",
            success: function () {
                alert("审核通过！");
                $("#dataGrid").bootstrapTable("refresh");

            }, error: function () {
                alert("审核失败");
            }
        })

    }


    function updateNo(id){

        $.ajax({
            url: "../shenhe/updateZhiweiNo",
            data: {id: id},
            type: "post",
            success: function () {
                alert("审核拒绝！");
                $("#dataGrid").bootstrapTable("refresh");

            }, error: function () {
                alert("审核失败");
            }
        })


        $.ajax({
            url: "../lmh/failureMails",
            type: "post",
            success: function () {

                $("#dataGrid").bootstrapTable("refresh");

            }, error: function () {
            }
        })

    }













    function deleteNo(id){
        $.ajax({
            url: "../shenhe/deleteZhiweiNo?id="+id,
            type: "post",
            success: function () {
                $("#dataGrid").bootstrapTable("refresh");

            }, error: function () {
            }
        })


        $.ajax({
            url: "../lmh/failureMails",
            type: "post",
            success: function () {

                $("#dataGrid").bootstrapTable("refresh");

            }, error: function () {
            }
        })

    }

















    var res;
    function createAddContent(url) {
        $.ajax({
            url: url,
            async: false,
            success: function (data) {
                res = data;
            }
        });
        return res;
    }

    //新增
    function addBook(){
        //打开新增弹框
        bootbox.dialog({
            title: '新增书籍',
            message: createAddContent("../toAddBook"),
            closeButton: true,//是否显示关闭按钮
            buttons: {
                "success": {
                    "label": "<i class='icon-ok'></i> 保存",
                    "className": "btn-sm btn-success",
                    "callback": function () {
                        $.ajax({
                            url: '../addBook',
                            type: 'post',
                            data: $("#formId").serialize(),
                            success: function () {
                                alert("新增成功");
                                $('#dataGrid').bootstrapTable("refresh");
                                //刷新表格
                            }, error: function () {
                                alert("新增失败");
                            }
                        });
                    }
                },
                "cancel": {
                    "label": "<i class='icon-info'></i> 取消",
                    "className": "btn-sm btn-danger",
                    "callback": function () {

                    }
                }
            }
        });
    }


    //批量删除
    function deleteBook() {
        var arr = $('#dataGrid').bootstrapTable("getSelections");//获取选中的行
        console.log(arr);
        if (arr.length <= 0) {
            alert("请你选中要删除的数据！！！");
        } else {
            var ids = "";
            for (var i = 0; i < arr.length; i++) {
                ids += arr[i].id + ",";
            }
            ids = ids.substring(0, ids.length - 1);
            $.ajax({
                url: "../deleteBook",
                data: {ids: ids},
                type: "post",
                success: function () {
                    alert("删除成功！");
                    $("#dataGrid").bootstrapTable("refresh");

                }, error: function () {
                    alert("失败");
                }


            })
        }


    }
    //修改
    function update(id){
        bootbox.dialog({
            title: '修改用户',
            message: createAddContent("../findBookById?id="+id),
            closeButton: true,//是否显示关闭按钮
            buttons: {
                "success": {
                    "label": "<i class='icon-ok'></i> 保存",
                    "className": "btn-sm btn-success",
                    "callback": function () {
                        $.ajax({
                            url: '../updateBook',
                            type: 'post',
                            data: $("#formId").serialize(),
                            success: function () {
                                alert("修改成功");
                                $('#dataGrid').bootstrapTable("refresh");
                                //刷新表格
                            }, error: function () {
                                alert("修改失败");
                            }
                        });
                    }
                },
                "cancel": {
                    "label": "<i class='icon-info'></i> 取消",
                    "className": "btn-sm btn-danger",
                    "callback": function () {
                    }
                }
            }
        });
    }



</script>

</body>
</html>