<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.dao.ZcDao" >
<select id="test" resultType="book">
    select * from t_book
</select>

    <!--个人注册-->
    <insert id="zcRegister">
        INSERT INTO gryh(username,pwd,tel,zhucsj,state)
        VALUES(
           #{username},
           #{pwd},
           #{tel},
           SYSDATE(),
           1
        )
    </insert>

    <!--企业版注册-->
    <insert id="zcHrRegister">
        INSERT INTO gryh(username,pwd,tel,zhucsj,state)
        VALUES(
           #{username},
           #{pwd},
           #{tel},
           SYSDATE(),
           2
        )
    </insert>

    <select id="queryTel" resultType="com.jk.model.zcModel.UserModel">
        select *  from  gryh WHERE tel = #{tel} and state = #{state}
    </select>

    <!--查询已发布职位-->
    <select id="zcIssue" resultType="com.jk.model.Zwjl">
        select *  from  zwjl zw
        left join gsyh gs on gs.id = zw.gsid
        ORDER BY hot desc  LIMIT 0,9
    </select>

    <!--查询热门公司-->
    <select id="hotCompany" resultType="com.jk.model.Zwjl">
         select *  from  zwjl zw
        left join gsyh gs on gs.id = zw.gsid
        ORDER BY hot desc  LIMIT 0,12
    </select>

    <!--查询招聘详情页-->
    <select id="loadParticulars" resultType="com.jk.model.Zwjl">
        select  *  from  zwjl WHERE id = #{value}
    </select>
</mapper>