<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.dao.ZcDao">


    <!--新增简历-->
    <insert id="zcRegister" parameterType="com.jk.model.JianLi">
        INSERT INTO jianli (
            name,
            sex,
            birthday,
            minz,
            huny,
            zhengzh,
            xuex,
            zhuany,
            xuel,
            gongzjy,
            xianjd,
            jig,
            gangw,
            gangwlb,
            gongzdq,
            yuexyq,
            qiuzhzht,
            jishtch,
            gongzjl,
            gerjs,
            tel,
            email,
            state
        )
        VALUES(
           #{name},
           #{sex},
           #{birthday},
           #{minz},
           #{huny},
           #{zhengzh},
           #{xuex},
           #{zhuany},
           #{xuel},
           #{gongzjy},
           #{xianjd},
           #{jig},
           #{gangw},
           #{gangwlb},
           #{gongzdq},
           #{yuexyq},
           #{qiuzhzht},
           #{jishtch},
           #{gongzjl},
           #{gerjs},
           #{tel},
           #{email},
           1
        )
    </insert>

    <!--个人版注册-->
    <insert id="addPersonalUser" parameterType="com.jk.model.zcModel.UserModel">
         INSERT INTO  gryh (pwd,tel,email,zhucsj,jianLiId) VALUES(#{pwd},#{tel},#{email},SYSDATE(),#{jianLiId})
    </insert>


    <!--查询用户-->
    <select id="queryTel" resultType="com.jk.model.zcModel.UserModel">
        select *  from  gryh WHERE tel = #{tel}
    </select>

    <!--查询已发布职位-->
    <select id="zcIssue" resultType="com.jk.model.Zwjl">
        select *  from  zwjl zw
        left join gsyh gs on gs.id = zw.gsid
        ORDER BY hot desc  LIMIT 0,9
    </select>

    <!--查询热门公司-->
    <select id="hotCompany" resultType="com.jk.model.Zwjl">
         select *  from  zwjl zw
        left join gsyh gs on gs.id = zw.gsid
        ORDER BY hot desc  LIMIT 0,12
    </select>

    <!--查询招聘详情页-->
    <select id="loadParticulars" resultType="com.jk.model.Zwjl">
        select  *  from  zwjl WHERE id = #{value}
    </select>
</mapper>